/* Custom CSS */
.logo img {
    border-radius: 100%;
}

.menu li.current a {
    border-bottom: 2px solid #ffcd00;
}

#sidebar .widget-recent_posts .item-title{
    font-size: 0.9em;
}

@media screen and (min-width: 920px){
    .main {
        width: 100%;
    }
}

/* fix gitment width issue */
#git-comments {
    max-width: 720px;
}


blockquote {
    color: gray;
}

pre, code, kbd, samp, var{
    font-size: .8em;
    background: #fafafa;
}


/* kbd style */
kbd{
    box-shadow: inset 0 -2px 0 #c6cbd1;
    background-color: white;
}

/* 添加自动序号样式 */
.entry-content {
    counter-reset: h2
}

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h4 {
    counter-reset: h5
}

h5 {
    counter-reset: h6
}

.entry-content h2:before {
    counter-increment: h2;
    content: counter(h2) ". "
}

.entry-content h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". "
}

.entry-content h4:before,
h4.md-focus.md-heading:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) ". "
}

.entry-content h5:before,
h5.md-focus.md-heading:before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "
}

.entry-content h6:before,
h6.md-focus.md-heading:before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "
}